<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.monica.snobsinenobilitate" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.NavDrawerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".activities.ProductDetailActivity"
            android:label="@string/title_activity_product_detail" >
        </activity>
        <activity
            android:name=".uselessactivities.ProductListActivity"
            android:label="@string/title_activity_product_list" >
        </activity>
        <activity
            android:name=".uselessactivities.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".uselessactivities.ContactUsActivity"
            android:label="@string/title_activity_contact_us" >
        </activity>
        <activity
            android:name=".uselessactivities.StoreFinderActivity"
            android:label="@string/title_activity_store_finder" >
        </activity>
        <activity
            android:name=".uselessactivities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
    </application>

</manifest>
